#read-button {
    background: -moz-linear-gradient(top, #d96b34, #b85a2b);
    background: -webkit-linear-gradient(top, #d96b34, #b85a2b);
    background: linear-gradient(top, #d96b34, #b85a2b);
    color: white;
    font: 20px "Helvetica Neue";
    border-radius: 28px;
    border: none;
    padding: 10px 20px;
    box-shadow: 0 0 12px 12px white;
    position: fixed;
    top: 6px;
    right: 0;
    z-index: 9999999;
}

#read-button:active {
    background: -moz-linear-gradient(bottom, #d96b34, #b85a2b);
    background: -webkit-linear-gradient(bottom, #d96b34, #b85a2b);
    background: linear-gradient(bottom, #d96b34, #b85a2b);
}

body.read-in-reader-mode > *:not(.read-frozen) {
    opacity: 0 !important;
}

body.read-in-reader-mode-preanim > *:not(.read-frozen) {
    opacity: 1;
}

.read-original {
    opacity: 0 !important;
}

body.read-in-reader-mode-preanim > *:not(.read-frozen),
body.read-in-reader-mode > *:not(.read-frozen) {
    transition: opacity 500ms;
}

.read-content-container {
    position: absolute;
    top: 32px;
    left: 10%;
    right: 10%;
}

.read-frozen {
    transition: top 1500ms, left 1500ms, width 1500ms, height 1500ms;
}

